

.breadcrumb{
    padding: 0;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    /*margin: 20px;*/
}

.breadcrumb>li+li:before{
    padding: 0;
}

.breadcrumb li{
    float: right;
}

.breadcrumb li.active a{
    	background: brown;                   /* fallback color */
    /*background: #ffc107;*/
      background: #f75757;
}

.breadcrumb li.completed a{
    background: brown; 
    background-color:hsla(153, 57%, 51%, 1);

}
.breadcrumb li.active a:after{
    border-right: 30px solid #f75757;
        /*border-right: 30px solid #ffc107;*/

}
.breadcrumb li.completed a:after{
    border-right: 30px solid hsla(153, 57%, 51%, 1);
}
.breadcrumb li a{
    color: white;
    text-decoration: none;
    /*padding: 10px 45px 10px 0 ;*/
    	padding: 10px 33px 10px 12px;

    position: relative;
    display: block;
    float: right;
}
.breadcrumb li a:after{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 100%;
    z-index: 2;
}

.breadcrumb li a:before{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-right: 1px;
    right: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a{
    padding-right: 15px;
}

.breadcrumb li a:hover{
    background: #ffc107;
}

.breadcrumb li a:hover:after{
    border-right-color: #ffc107  !important;
}

